body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

:root {
    --brand-color: #2E2F42;
}

button {
    cursor: pointer;
}

.header {

}

.nav_menu {

}

.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.link {
    text-decoration: none;
}

.logo_item1 {
    color: #4D5AE5;
}

.logo_item2 {
    color:var(--brand-color);
}

.address {
    font-style: normal;
}

.list {
    list-style: none;
}

.menu {

}

.menu li {
    display: inline-block;
}

.menu_item {

}

.menu_link {
    font-style: normal;
    font-weight: 500;
    color: var(--brand-color);
}

.menu_link:hover,
.menu_link:focus {
    color: #404BBF;
}

.contacts {

}

.contact_item {
    color: #434455;
}

.contact_item:hover,
.contact_item:focus
{
    color: #404BBF;
}

.footer {
    background: var(--brand-color);
}

.footer_logo {
    color: #F4F4FD;
}

.footer_par {
    color: #F4F4FD;
}


/*--HomeWork_1--*/

.hero {
    background: var(--brand-color);
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero_title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero_btn {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero_btn:hover,
.hero_btn:focus {
    background: #404BBF;
}

.feature {}

.feature_menu {
    display: flex;
}

.feature_col {

}

.feature_title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature_item {
    color: #434455;
}

.products {}

.product_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--brand-color);
}

.products_item {
    display: flex;
}

.team {
    background: #F4F4FD;
}

.team_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color);
}

.team_card {
    display: flex;
}

.team_item {
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
}

.team_list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.team_par {
    font-size: 16px;
    color: #434455;
}



/*--HomeWork_2--*/


.filters {

}

.filters li {
    display: inline-block;
}

.filter_item {

}

.filter_btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #4D5AE5;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.filter_btn:hover,
.filter_btn:focus {
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.row1,
.row2,
.row3 {
    display: flex;
}

.row1 h3,
.row2 h3,
.row3 h3 {
    font-size: 20px;
    font-weight: 500;
}

.row1 p,
.row2 p,
.row3 p {
    color: #434455;
}
